* {
    --bodyColor: #3980a9;
    --buttonTextColor: #ffe8d3;
    --buttonBackgroundColor: #192638;
    --textColor: #ffd8dd;
    --textColorInput: black;
    --textBackgroundColorInput: white;
}