* {
    font-family: Verdana, sans-serif;
    color: var(--textColor);
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--BackgroundColor);
}

::-webkit-scrollbar {
     display: none;
 }

/* Main Container of the site*/


#main-container {
    display: grid;
    margin: 0 auto;
    max-width: 940px;
    height: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "content" "footer";
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.5), 0 0 8px 1px rgba(0,0,0,0.5);
    background: var(--bodyColor);
}

#main-container > section {
    border: 2px solid;
}
#main-container > header, section, footer {
/* min-height:50px;*/
    padding: 0;
}

#main-container > header {
    grid-area: header;
}

#main-container > section {
    grid-area: content;
}

#main-container > footer {
    grid-area: footer;
}

/* Notes display area and there elements*/

#note-overview{
display: flex;
flex-flow: row wrap;

padding: 10px;
background: #0002;
overflow: auto;
}

#note-tile{
display: grid;
grid-template-rows: auto 1fr auto auto;
font-size: x-small;
border-width: medium;
background-color: var(--BackgroundColor);
border-radius: 5px;
color: var(--buttonTextColor);
padding: 10px;
margin: 5px;
width: 200px;
height: 250px;
box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.5), 0 0 10px 1px rgba(0,0,0,0.5);
}

#note-tile-meta>p{
margin: 0.15rem;
}

#note-tile-description{
overflow: auto;
}

#note-tile-meta{
display: grid;
grid-template-columns: auto auto;
}

#note-tile-footer{
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 10px;
}

/* Edit Dialog Window*/

#dialog-edit-note-container {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background: #fff6;
}

#dialog-edit-note {
display: flex;
flex-direction: column;
justify-content: space-between ;
background: var(--bodyColor);
height: 300px;
width: 60%;
margin: auto;
max-width: 400px;
padding: 15px
}


/*
*** Button wrapper for the filter buttons
*/

.btn-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    margin: 0;
    padding: 10px;
    background: #0002;
}

.btn-wrapper > * {
    padding:10px;
}

.btn-wrapper-right {
    grid-column-start: 4;
}

.rbt-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    margin-bottom:  5px;
    padding: 10px;
    background: #0002;
}

form > [type=text], form > [type=date], form > select > option {
    color: var(--textColorInput);
    background: var(--textBackgroundColorInput);
}

button, #btn-choose-theme {
    border: none;
    border-radius: 5px;
    background: var(--BackgroundColor);
    color: var(--buttonTextColor);
    font-size: 1.2em;
}


.footer-author {
    grid-column: 1 / span 2
}

footer{
    margin-top: 5px;
}


