* {
    --bodyColor: #26a951;
    --buttonTextColor: lightyellow;
    --buttonBackgroundColor: #153820;
    --textColor: lightyellow;
    --textColorInput: black;
    --textBackgroundColorInput: white;
    --scrollbarHandleColor: #26a95155;
    --scrollbarHoverColor: var(--bodyColor);
}