* {
    --bodyColor: #268051;
    --buttonTextColor: lightyellow;
    --BackgroundColor: #154820;
    --textColor: lightyellow;
    --textColorInput: black;
    --textBackgroundColorInput: white;
}